version: "3.4"
services:
  web-pdf-toolbox:
    container_name: web-pdf-toolbox
    image: zpex/web-pdf-toolbox:latest
    environment:
      - TZ=Europe/Paris
    ports:
      - 25568:80
    volumes:
        - ./pdf/:/tmp/pdf/
